<div class="hello">
    <p>Hey, <span>name</span>!</p>
</div>
<!-- container for cards of actions-->
<div class="container">
    <!-- CARDS -->

    <!-- CREATE GROUP -->

    <div class="card">
        <a href="">
            <div class="card_img">
                <img src="https://img.freepik.com/free-vector/calculator-with-number-financial-deal-confirming-with-handshake-calculating-operation-audit-venture-capital-economical-partnership-vector-isolated-concept-metaphor-illustration_335657-4317.jpg"
                    alt="Create Group Image">

            </div>

            <div class="card_title">
                <p>Create Group</p>
            </div>
        </a>
    </div>

    <!-- VIEW ALL GROUPS -->
    <div class="card">
        <a href="">
            <div class="card_img">
                <img src="https://img.freepik.com/free-vector/stocktaking-process-financial-operation-tax-reporting-management-software-enterprise-program-woman-doing-bookkeeping-auditing-cartoon-character-vector-isolated-concept-metaphor-illustration_335657-2739.jpg"
                    alt="View All groups Image">

            </div>

            <div class="card_title">
                <p>View All Groups</p>
            </div>
        </a>
    </div>

    <!-- CREATE COURSE -->
    <div class="card">
        <a href="">
            <div class="card_img">
                <img src="https://img.freepik.com/free-vector/stocktaking-process-financial-operation-tax-reporting-management-software-enterprise-program-woman-doing-bookkeeping-auditing-cartoon-character_335657-2318.jpg?t=st=1659320179~exp=1659320779~hmac=97de1b284c1ecb50aeeb964cb91d4d6ab7252e8f0816317d889274d2434fac75"
                    alt="Create Course Image">

            </div>

            <div class="card_title">
                <p>Create course</p>
            </div>
        </a>
    </div>

    <!-- VIEW ALL COURSES -->
    <div class="card">
        <a href="">
            <div class="card_img">
                <img src="https://img.freepik.com/free-vector/business-audit-financial-specialist-cartoon-character-with-magnifier-examination-statistical-graphic-information-statistics-diagram-chart_335657-834.jpg?w=740&t=st=1659349838~exp=1659350438~hmac=44b949aa62d42a198ea490f41747d310551f1fcb3860c4732d6c111618616aa6"
                    alt="View All Courses Image">

            </div>

            <div class="card_title">
                <p>View All Courses</p>
            </div>
        </a>
    </div>

</div>