// THE MOST IMPORTANT COLORS
:root {
    --tiffani: #F1FFFE;
    --dark-green: #18484C;
    --green: #348E8A;
    --background: #FDFDFD;
}

* {
    margin: 0;
    padding: 0;
    font-family: Hack, monospace;
}

body {
    background-color: var(--background);

}